<div class="about pt-3 pb-3">

    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>About <span>NbaShop</span></h1>
                        <h3>Why Shop With Us? </h3>
                        <p class="about-paddingB">We offer a huge selection of NBA, WNBA and G-League gear from top quality brands, all in one convenient place. We are passionate about our goal of bringing NBA, WNBA and G-League fans across the globe access to their favorite team's
                            gear. We pride ourselves on not only carrying a large selection of officially licensed products from the top brands, but also industry leading customer service, shipping and return policies.</p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h3>Fan Service </h3>
                        <p class="about-paddingB">Our Fan Advocates are committed to your satisfaction and view each time you contact us as a chance to build a relationship. We're shoppers too and dedicated to delivering our customers the kind of shopping experience we would want
                            to have. If your expectations are not exceeded and if you don't look forward to coming back, then we haven't done our job!</p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h3>90-Day Hassle Free Returns </h3>
                        <p class="about-paddingB">Our top priority is to provide the best service possible and if you don't love what you ordered, we don't want you to keep it. If for any reason you are not satisfied with your purchase, you may return the item(s) in original condition
                            for a full refund.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="infoImg">
        <h1>NbaShop.com</h1>
        <img src="../../../assets/img/logoFooter.png" alt="" srcset="">
    </div>
</div>