.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.inicio-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.conf-inicio {
    width: 300px;
    /* height: 500px; */
    /* position: relative; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
    background-color: white;
    border-radius: 20px;
    transition: 1s;
}

.conf-inicio:hover {
    /* height: 500px; */
    /* position: relative; */
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.35);
    transform: scale(1.05);
    transition: 1s;
}

.conf-inicio img {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    /* position: relative; */
}

.info {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* justify-content: center; */
    align-items: center;
    bottom: 50px;
    right: 80px;
    padding-bottom: 2px;
}

.info-retro h5 {
    color: white;
    background-color: black;
}

.conf-retro {
    width: 300px;
    /* height: 500px; */
    /* position: relative; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
    background-color: black;
    border-radius: 20px;
    transition: 1s;
}

.conf-retro:hover {
    /* height: 500px; */
    /* position: relative; */
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.35);
    transition: 1s;
    transform: scale(1.05);
}

.conf-retro img {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    /* position: relative; */
}

.conf-retro h5 {
    color: white;
}