<app-carrito>
</app-carrito>

<div class="container">

    <div class="inicio-page">


        <div class="conf-inicio">
            <img src="https://raw.githubusercontent.com/yairreynaldo/Angular/main/src/assets/img/west-inicio.png">
            <div class="info">
                <h5>West Jersey's</h5>
                <a class="btn btn-outline-dark" href="#west" role="button">See More</a>
            </div>
        </div>
        <div class="conf-retro">
            <img src="https://raw.githubusercontent.com/yairreynaldo/Angular/main/src/assets/img/retro3.png">
            <div class="info">
                <h5>Retro Jersey's</h5>
                <a class="btn btn-outline-light" href="#retro" role="button">See More</a>
            </div>
        </div>
        <div class="conf-inicio">
            <img src="https://raw.githubusercontent.com/yairreynaldo/Angular/main/src/assets/img/east-inicio.png">
            <div class="info">
                <h5>East Jersey's</h5>
                <a class="btn btn-outline-dark" href="#east" role="button">See More</a>
            </div>
        </div>

    </div>


    <app-tshirt-carrs></app-tshirt-carrs>

</div>